<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
   
   <!-- start : globally -->
   <link rel="stylesheet" href="assets/style/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
   <!-- end : globally -->

</head>
<body class="max-w-screen-xl mx-auto">
   <header>
      <div class="flex justify-between items-center border-b p-4">
         <div class="">
            <img src="assets/icons/icon.svg" alt="">
         </div>
         <div class="hidden md:flex font-bold italic">
            <a href="#" onclick="toOnProgressPage()" class="mr-4">About</a>
            <a href="#" onclick="toOnProgressPage()" class="mr-4">Writes</a>
            <a href="#" onclick="toOnProgressPage()" class="mr-4">Works</a>
            <a href="#" onclick="toOnProgressPage()" class="mr-4">Contacts</a>
         </div>
      </div>
      <div class="flex md:hidden py-2 px-4 bg-gray-100 font-bold italic text-gray-800 border-b">
         <a href="#" onclick="toOnProgressPage()" class="mr-4">About</a>
         <a href="#" onclick="toOnProgressPage()" class="mr-4">Writes</a>
         <a href="#" onclick="toOnProgressPage()" class="mr-4">Works</a>
         <a href="#" onclick="toOnProgressPage()" class="mr-4">Contacts</a>
      </div>
   </header>
   <main class="px-6 md:px-12">
      {{ content | safe }}
   </main>
   <footer class="flex justify-between items-center p-6 flex-wrap">
      <p class="text-sm text-gray-500">© 2021 Nahl Munif Basalamah | nahlmb.dev</p>
      <h5 class="font-display font-bold text-lg">#IHRISH</h5>
   </footer>
</body>
</html>