<header class="fixed left-0 right-0 top-0 bg-opacity-50 bg-white dark:bg-black h-28 md:h-16 border-b border-gray-400 dark:border-gray-500 border-opacity-25 flex flex-col justify-between md:justify-center" style="backdrop-filter: blur( 25.0px ); -webkit-backdrop-filter: blur( 25.0px ); z-index: 992;">
    <div class="w-full flex flex-auto justify-between items-center p-4 max-w-screen-2xl mx-auto">
        <a href="/">
            <img aria-label='logo' title='logo' width="32" height="32" src="/_assets/icons/icon.svg" alt="logo">
        </a>
        <div class="hidden md:flex font-bold italic">
        <a href="/about" class="mr-4">About</a>
        <a href="/writes" class="mr-4">Writes</a>
        <a href="/works" class="mr-4">Works</a>
        <a href="/contact" class="mr-4">Contact</a>
        </div>
    </div>
    <div class="flex w-full text-center justify-around md:hidden py-2 px-4 bg-white dark:bg-gray-900 dark:text-white font-bold italic text-gray-800">
        <a href="/about">About</a>
        <a href="/writes">Writes</a>
        <a href="/works">Works</a>
        <a href="/contact">Contact</a>
    </div>
</header>