<footer class="border-t dark:border-gray-800">
    <div class="flex justify-between items-center p-6 flex-wrap max-w-screen-2xl mx-auto" style="z-index: 1234;">
        <p class="text-sm text-gray-500">© 2021 Nahl Munif Basalamah | nahlmb.dev</p>
        <div class="font-display font-bold text-lg">#IHRISH</div>
    </div>
</footer>