<footer class="border-t">
    <div class="flex justify-between items-center p-6 flex-wrap max-w-screen-2xl mx-auto" style="z-index: 1234;">
        <p class="text-sm text-gray-500">© 2021 Nahl Munif Basalamah | nahlmb.dev</p>
        <h5 class="font-display font-bold text-lg">#IHRISH</h5>
    </div>
</footer>