<header class="fixed left-0 right-0 top-0 bg-opacity-75 bg-white" style="backdrop-filter: blur( 25.0px ); -webkit-backdrop-filter: blur( 25.0px ); z-index: 992;">
    <div class="border-b border-gray-400 border-opacity-25">
        <div class="flex justify-between items-center p-4 max-w-screen-2xl mx-auto">
            <a href="/">
                <img src="/_assets/icons/icon.svg" alt="">
            </a>
            <div class="hidden md:flex font-bold italic">
            <a href="/about" class="mr-4">About</a>
            <a href="/writes" class="mr-4">Writes</a>
            <a href="/works" class="mr-4">Works</a>
            <a href="/contact" class="mr-4">Contact</a>
            </div>
        </div>
    </div>
    <div class="flex w-full text-center justify-around md:hidden py-2 px-4 bg-gray-100 font-bold italic text-gray-800 border-b">
        <a href="/about">About</a>
        <a href="/writes">Writes</a>
        <a href="/works">Works</a>
        <a href="/contact">Contact</a>
    </div>
</header>