---
layout: "base.njk"
---

<div class="prose sm:prose lg:prose-lg mx-auto">
   <img class="w-full rounded" src="{{ image }}" alt="{{ image_alt }}"/>
   <hr/>
   <p class="text-sm text-gray-500">Nahl Munif Basalamah, 12 September 2002</p>
   <h1>{{ title }}</h1>
   {{ content | safe }}
</div>