---
layout: "base.njk"
---

<div class="prose sm:prose lg:prose-lg mx-auto">
   <img class="w-full rounded" src="https://images.unsplash.com/photo-1563300365-9c77e472e7a5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000"/>
   <hr/>
   <p class="text-sm text-gray-500">Nahl Munif Basalamah, 12 September 2002</p>
   <h1>{{ title }}</h1>
   {{ content | safe }}
</div>