---
layout : 'base.njk'
---
<section class="py-40 px-6 md:px-16">
    <h1 class="text-6xl font-bold mb-4">Nahl Munif Basalamah</h1>
    <p class="w-full">
    Hello, I'm Nahl, a Digital product designer and frontend developer, I'm currently a learner in Apple Academy Infinite Learning Batam Indonesia. 
    <br/>
    <br/>
    Alhamdulillah by the grace of Allah, I was doing many digital product projects, building many applications, from that experience I also learn a lot, building digital products like web or mobile application is not simple as like we have an idea and try to implement it on application, ideation is really unique step that you need to be aware and think a lot, development stage you need to manage it properly to stay on the track, deployment stage needed to make sure that this will must be a good start for our product, but all this process will always be worth when you see the success of your products become a beneficial product.
    <br/>
    And what makes me really love about Digital Products is to combine a problem solution idea with technology, it will really powerful, you really can solve many problems and be beneficial for many peoples.
    <br/>
    <br/>
    So a great product will lead to great impact.
    <br/>
    Here is my personal site, I like to share my experience and my knowledge about the product development process, design, and also about technical things.
    <br/>
    <br/>
    And also of course because we have to have a big purposed, a big goal, I like to add in this site about many Islamic teaching articles, what goals that bigger than to be successful in the hereafter? 
    <br/>
    <br/>
    Thank you very much, Nahl Munif Basalamah.
    </p>
</section>
