---
layout : 'base.njk'
---


<section class="py-40 px-6 md:px-16">
    <h3 class="pop-from-top-animation text-gray-500 dark:text-gray-200">Article, documentation, sharing 👍</h3>
    <h2 class="pop-from-top-animation text-3xl font-bold">Writes & Articles</h2>
    <div class="mt-12">
       <ul class="stack-pop-top-animation">
          {% for write in collections.featured_writes | reverse %}
             <li id="stack-{{ loop.index }}" class="mt-8 pb-4 border-b border-black border-opacity-10 dark:border-white">
             <a href="{{ write.url }}" onclick="toOnProgressPage()">
                <h2 class="text-lg"><b>{{ write.data.title }}</b></h2>
                <p class="text-gray-600 dark:text-gray-300 hover:text-black dark:hover:text-white">{{ write.data.description }}</p>
             </a>
          </li>
          {% endfor %}
       </ul>
    </div>
    <a href="#" onclick="toOnProgressPage()" class="flex justify-center mt-24">
       <div class="pb-3 border-b-2 border-gray-200 dark:border-gray-500 hover:border-black dark:hover:border-white font-bold text-xl">more writes and article</div>
    </a>
 </section>